.torneo4-wrap, .torneo8-wrap, .torneo16-wrap, .torneo32-wrap {
	text-align: center;
}

/****** partido 1 ******/
.partido1-top, .partido1-bottom {
	float: left;
	width: 150px;
	height: 2em;
}

.partido1-top {
	line-height: 2.5em;
}

.partido2-topwrap .partido1-bottom {
	width: 149px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.partido2-bottomwrap .partido1-top {
	width: 149px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

/****** partido 2 ******/

.partido2-top, .partido2-bottom {
	float: right;
	width: 150px;
	height: 4em;
}

.partido2-top {
	line-height: 6.5em;
}


.partido3-topwrap .partido2-bottom {
	width: 149px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.partido3-bottomwrap .partido2-top {
	width: 149px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.torneo4-wrap .partido2-top {
	border-bottom: 1px solid #000;
}

.partido2-topwrap, .partido2-bottomwrap {
	float: left;
	width: 300px;
	height: 4em;
}

/****** partido 3 ******/

.partido3-top, .partido3-bottom {
	float: right;
	width: 150px;
	height: 8em;
}

.partido3-top {
	line-height: 14.5em;
}

.partido4-topwrap .partido3-bottom {
	width: 149px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.partido4-bottomwrap .partido3-top {
	width: 149px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.torneo8-wrap .partido3-top {
	border-bottom: 1px solid #000;
}

.partido3-topwrap, .partido3-bottomwrap, .torneo4-wrap {
	float: left;
	width: 450px;
	height: 8em;
}

/****** partido 4 ******/

.partido4-top, .partido4-bottom {
	float: right;
	width: 150px;
	height: 16em;
}

.partido4-top {
	line-height: 30.5em;
}


.partido5-topwrap .partido4-bottom {
	width: 149px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

.partido5-bottomwrap .partido4-top {
	width: 149px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.partido4-topwrap, .partido4-bottomwrap, .torneo8-wrap {
	float: left;
	width: 600px;
}

.torneo16-wrap .partido4-top {
	border-bottom: 1px solid #000;
}

/****** partido 5 ******/

.partido5-top, .partido5-bottom {
	float: right;
	width: 150px;
	height: 32em;
}

.partido5-top {
	line-height: 62.5em;
}

.torneo32-wrap .partido5-top {
	border-bottom: 1px solid #000;
}

.partido5-topwrap, .partido5-bottomwrap, .torneo16-wrap {
	float: left;
	width: 750px;
}

/****** partido 6 ******/

.partido6-top, .partido6-bottom {
	float: right;
	width: 150px;
	height: 32em;
}

.torneo32-wrap {
	float: left;
	width: 900px;
}

/****** styles for the ganador column ******/
.ganador3, .ganador4, .ganador5, .ganador6 {
	font-weight: bold;
	font-style: italic;
}

.ganador3 {
	line-height: 8em;
}

.ganador4 {
	line-height: 16em;
}

.ganador5 {
	line-height: 32em;
}

.ganador6 {
	line-height: 64em;
}
