<div class="torneo16-wrap">
		<div class="partido5-top ganador5">ganador</div>
		<div class="partido4-topwrap">
			<div class="partido4-top">Top ganador</div>
			<div class="partido3-topwrap">
				<div class="partido3-top">1/8 ganador</div>
				<div class="partido2-topwrap">
					<div class="partido2-top">1-16 ganador</div>
					<div class="partido1-top">#1 equipo</div>
					<div class="partido1-bottom">#16 equipo</div>
				</div>
				<div class="partido2-bottomwrap">
					<div class="partido2-bottom">8-9 ganador</div>
					<div class="partido1-top">#8 equipo</div>
					<div class="partido1-bottom">#9 equipo</div>
				</div>
			</div>
			<div class="partido3-bottomwrap">
				<div class="partido3-bottom">4/5 ganador</div>
				<div class="partido2-topwrap">
					<div class="partido2-top">4-13 ganador</div>
					<div class="partido1-top">#4 equipo</div>
					<div class="partido1-bottom">#13 equipo</div>
				</div>
				<div class="partido2-bottomwrap">
					<div class="partido2-bottom">5-12 ganador</div>
					<div class="partido1-top">#5 equipo</div>
					<div class="partido1-bottom">#12 equipo</div>
				</div>
			</div>
		</div>
		<div class="partido4-bottomwrap">
			<div class="partido4-bottom">Bottom ganador</div>
			<div class="partido3-topwrap">
				<div class="partido3-top">2/7 ganador</div>
				<div class="partido2-topwrap">
					<div class="partido2-top">2-15 ganador</div>
					<div class="partido1-top">#2 equipo</div>
					<div class="partido1-bottom">#15 equipo</div>
				</div>
				<div class="partido2-bottomwrap">
					<div class="partido2-bottom">7-10 ganador</div>
					<div class="partido1-top">#7 equipo</div>
					<div class="partido1-bottom">#10 equipo</div>
				</div>
			</div>
			<div class="partido3-bottomwrap">
				<div class="partido3-bottom">3/6 ganador</div>
				<div class="partido2-topwrap">
					<div class="partido2-top">3-14 ganador</div>
					<div class="partido1-top">#3 equipo</div>
					<div class="partido1-bottom">#14 equipo</div>
				</div>
				<div class="partido2-bottomwrap">
					<div class="partido2-bottom">6-11 ganador</div>
					<div class="partido1-top">#6 equipo</div>
					<div class="partido1-bottom">#11 equipo</div>
				</div>
			</div>
		</div>
	</div>







{{outlet}}
